@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import "tailwindcss";

:root {
  --color-red: #F74460;
  --color-orange: #FB7F34;
  --color-cyan: #5DDFDE;
  --color-blue: #5479E0;
  --color-foreground: #FDF9F0;
  --color-background: #141414;
}

@theme {
  --font-display: "General Sans", "sans-serif";
  --font-heading: "Jersey 10", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-red: #F74460;
  --color-orange: #FB7F34;
  --color-cyan: #5DDFDE;
  --color-blue: #5479E0;
  --color-foreground: #FDF9F0;
  --color-background: #141414;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

body {
  @apply m-0;
  font-family: var(--font-display);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient {
  background: linear-gradient(180deg, 
    var(--color-red),
    var(--color-orange),
    var(--color-blue),
    var(--color-cyan)
  );
}
